.popup__container-image {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: none;
}